:root {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e7e9ed;
  --gray-600: #727e96;
  --gray-700: #454d5d;
  --gray-800: #333;
  --blue-300: #5BC0DE;
  --blue-500: #0275D8;
  --green-500: #5CB85C;
  --orange-500: #F0AD4E;
  --red-500: #D9534F;
}

@font-face {
  font-family: "Special Elite";
  src: url("/font/SpecialElite-Regular.ttf");
}

body {
  margin: 2rem;
}

h1, h2, h3, h4, h5, h6,
.h1-like, .h2-like, .h3-like, .h4-like, .h5-like {
  font-family: 'Special Elite', cursive;
}

h2.h1-like { font-size: 3.7rem; }

nav .logo-container {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

nav .logo-container h1 {
  font-size: 4.5rem;
}

nav .logo-container .mascot,
nav .logo-container h1 {
  display: inline-block;
  line-height: 0;
}

nav .logo-container .mascot {
  display: inline-block;
}

nav .logo-container img {
  max-width: 20px;
  margin-left: 0.4rem;
}

nav ul,
nav li {
  /*margin-top: 5rem;*/
  display: inline-block;
}

.flash {
  position: relative;
  margin-bottom: 2rem;
}

.flash .arrow {
  position: absolute;
  left: 0.3rem;
  top: 1.3rem;
  font-size: 265%;
  line-height: 0.5;
}

.flash .arrow {
  cursor: pointer;
}

.flash .message {
  padding-left: 3rem;
}

.ornamenta-dirt img {
  max-height: 100px;
}

.selectors .form-group {
  display: inline;
}

.selectors .form-group form {
  display: inline;
}

.table tbody {
  font-size: 90%;
}

.day time {
  color: var(--gray-600);
}

.day .events {
  margin-top: 2.5rem;
  padding-left: 0;
}

.day .events li,
.day .events li a {
  color: var(--white);
}

.day .events li a {
  text-decoration: none;
}

.day .events li {
  font-weight: bold;
  background-color: var(--blue-500);
  border: 1px solid var(--gray-600);
  border-radius: 2px;
  padding: 0.3rem;
  list-style: none;
  margin-bottom: 0.5rem;
}

footer {
  font-size: 90%;
  color: var(--gray-700);
}

footer li {
  display: inline;
  margin: 1rem;
}

footer ul {
  padding-left: 0;
}

footer li:first-child {
  margin-left: 0;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .selectors {
    margin: 1rem 0;
  }

  .selectors .form-group {
    display: block;
  }

  .year-selector.btn,
  .month-selector.btn {
    display: inline-block;
    width: 14%;
  }

  #select-month select,
  #select-year select {
    width: 69%;
  }


  td:not(.day) {
    display: none;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  .table {
    border: none;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .table--zebra tr td:nth-child(odd) {
    background-color: #e7e9ed;
  }

  .table--zebra tr td:nth-child(even),
  /* This is only a reset */
  #agenda .table--zebra tr {
    background-color: transparent;
  }

  #agenda .table--zebra tr {
    margin-top: 2.5rem;
  }

  #agenda .table--zebra tr:first-child {
    margin-top: inherit;
  }

}
